@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');


/*    
#FFF7A3
#F5E973
#B5A826
#8F830D

<a href="https://br.freepik.com/vetores-gratis/conjunto-de-icones-de-servicos-de-seguros_4407966.htm#page=4&query=seguro&position=25&from_view=search">Imagem de macrovector_official</a> no Freepik

<a href="https://www.freepik.com/free-photo/happy-man-his-wife-having-meeting-with-financial-advisor-signing-agreement-office_26345136.htm#page=2&query=business%20insurance&position=2&from_view=search">Image by Drazen Zigic</a> on Freepik

*/

:root {
    --cor0: #d6d2ac;
    --cor1: #FFF7A3;
    --cor2: #F5E973;
    --cor3: #B5A826;
    --cor4: #8F830D;
    --cor5: #423d0c;

    --fonte-padrao: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--cor0);
}

header {
    font-family: var(--fonte-padrao);
    background-color: black;
    text-align: center;
    padding-top: 30px;
}

header h1 {
    color: var(--cor2);
    font-size: 3em;
    font-weight: Bold;
    padding-bottom: 5px;
    
}

header > p {
    color: var(--cor1);
    font-size: 1.2em;
    margin: auto;
    padding-bottom: 10px;
}

nav {
    font-family: var(--fonte-padrao);
    background-color: var(--cor4);
    text-align: right;
    padding: 6px;
    
}

nav a {
    color: var(--cor1);
    text-decoration: none;
    font-size: 1em;
    margin: 10px;
    padding: 6px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--cor5);
    color: var(--cor1);
}

main {
    font-family: var(--fonte-padrao);
    background-color: white;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0.5px 3px rgba(0, 0, 0, 0.158);
}

main h2 {
    color: var(--cor5);
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.274);
    font-size: 1.2em;
    text-indent: 10px;
}

main p {
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 30px;
    margin: 15px 10px;
}

main img {
    display: flex;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

#area {
    text-align: center;
}

aside div > h3 {
    font-family: var(--fonte-padrao);
    margin-top: 5px;
}


.flex {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 10px;
    row-gap: 10px;
    
}

.bloco {
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    margin: 5px;
    height: 200px;
    width: 200px;
}

.icone {
    height: 150px;
    width: 150px;
}

.rodape {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

footer {
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    background-color: var(--cor4);
}

.topo {
    margin: 10px;
}


.fundo {
    background-color: black;
    color: var(--cor2);
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.fundo a {
    text-decoration: none;
    color: var(--cor2);
}

.fundo a:hover {
    text-decoration: underline;
}